.loading {
  padding-top: 140px;
  padding-left: 700px;
  color: red;
  font-size: 24px;
}

.users-table {
  margin: 150px 250px 40px 260px;
  max-width: 850px;
}

table.users-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table.users-table,
table.users-table td,
table.users-table tr {
  border: 1px solid #595959;
}
table.users-table td,
table.users-table tr {
  padding: 20px;
  // width: 30px;
  // height: 35px;
}
table.users-table tr {
  background: #2c2c2c;
  color: #fff;
  font-weight: normal;
}

.users-table__btn {
  display: flex;
  flex-direction: row;
}

.users-table__btn-styled {
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
  cursor: pointer;
}

.footer {
  height: 80px;
  // margin-top: -80px;
  padding: 18px 40px 15px 40px;


  background: #2c2c2c;
  border-top: 1px solid #b4b4c0;
  box-shadow: 0px 4px 4px rgb(62 5 4 / 25%);
  width: 100%;

  // position: fixed;
  // bottom: 0px;
}

.footer__button-btn {
  float: right;
  width: 165px;
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
  cursor: pointer;
}
