<div class="loading" *ngIf="!(allUsers | async); else users">...Loading</div>

<form *ngIf="isAddUser" class="formik" [formGroup]="myUsersReactiveForm" (ngSubmit)="onSubmitAddUser()">
  <h2 class="formik__styled-h2">Создание пользователя</h2>
  <br />
  <br />

  <label class="formik__label-email" for="email">Почта:</label>
  <input type="text" id="email" placeholder="" formControlName="email" />
  <br /><br />

  <label class="formik__label-password" for="password">Пароль:</label>
  <input type="text" placeholder="" id="password" formControlName="password" />

  <label class="formik__label-fio" for="fio">ФИО:</label>
  <input type="text" placeholder="" id="fio" formControlName="fio" />

  <button type="submit">
    <img src="assets/images/Button-save.png" />
  </button>
  <br /><br />
</form>

<ng-template #users>
  <table class="users-table" *ngIf="!isAddUser">
    <tbody>
      <ng-container *ngFor="let user of allUsers | async; index as i">
        <tr>
          <td *ngIf="user.id !== editedUserId">{{ user.email }}</td>
          <td *ngIf="user.id === editedUserId">
            <input
              class="edit-input"
              type="text"
              id="email"
              [(ngModel)]="user.email"
            />
          </td>
          <td *ngIf="user.id !== editedUserId">✱✱✱✱✱✱✱✱✱✱✱✱✱</td>
          <td *ngIf="user.id === editedUserId">
            <input
              class="edit-input"
              type="text"
              id="password"
              [(ngModel)]="user.password"
            />
          </td>
          <td *ngIf="user.id !== editedUserId">
            {{ getRole(user) | lowercase }}
          </td>
          <td *ngIf="user.id === editedUserId">
            <select
              name="roles"
              id="roles"
              [ngModel]="getRole(user) | lowercase"
              (ngModelChange)="changeRole($event, user)"
            >
              <option value="ADMIN">Admin</option>
              <option value="USER">User</option>
            </select>
          </td>
          <td class="users-table__btn">
            <button
              class="users-table__btn-styled"
              *ngIf="user.id === editedUserId"
              (click)="saveEditUser(user)"
            >
              <img
                src="../../../../../assets/images/Button-completed.png"
                width="40px"
                height="40px"
              />
            </button>
            <button
              (click)="deleteUser(user.id)"
              class="users-table__btn-styled"
            >
              <img src="../../../../../assets/images/Button-close.png" />
            </button>
            <button
              class="users-table__btn-styled"
              *ngIf="user.id !== editedUserId"
              (click)="editUser(user.id)"
            >
              <img src="../../../../../assets/images/Button-edit.png" />
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>

<footer class="footer">
  <button (click)="isAddUser = !isAddUser" class="footer__button-btn">
    <img
      class="footer__button"
      src="../../../../../assets/images/Button-add-new-user.png"
    />
  </button>
</footer>
