<div class="header">
    <nav class="nav-bar">
      <a routerLink="about"><img src="../../../../../assets/images/MeetUps.png" alt="logo" /> </a>
      <div class="img-column">
          <img
              src="../../../../../assets/images/philosophy.png"
              alt="logo"
              width="192px"
              height="30px"
            />
            <img
              src="../../../../../assets/images/league.png"
              alt="logo"
              width="95.56px"
              height="30px"
            />
        </div>
        <ul class="meetups">
            <li class="meetups1"><a routerLink="./allMeetups" routerLinkActive="active">Все митапы</a></li>
            <li class="meetups2"><a routerLink="./myMeetups" routerLinkActive="active">Мои митапы</a></li>
            <li class="meetups3"><a routerLink="./users" routerLinkActive="active">Пользователи</a></li>
        </ul>
      <a (click)="logout()"
        ><img
          class="nav-bar__right"
          src="../../../../../assets/images/logout.png"
          alt="logo"
          width="48px"
          height="48px"
        />
      </a>
      <a
        ><img
          class="nav-bar__right"
          src="../../../../../assets/images/engine.png"
          alt="logo"
          width="48px"
          height="48px"
        />
      </a>
    </nav>
  </div>
  
