<div class="header">
  <nav class="nav-bar">
    <div class="nav-bar__block">
      <a routerLink="about"
        ><img
          src="../../assets/images/MeetUps.png"
          alt="logo"
          style="margin-right: 31px"
        />
      </a>

      <div class="nav-bar__block-column">
        <img
          src="../../assets/images/philosophy.png"
          alt="logo"
          width="192px"
          height="30px"
        />
        <img
          src="../../assets/images/league.png"
          alt="logo"
          width="95.56px"
          height="30px"
        />
      </div>
    </div>

    <a routerLink="login" *ngIf="!authService.user"
      ><img
        src="../../assets/images/login.png"
        alt="logo"
        width="48px"
        height="48px"
      />
    </a>
    <!-- После входа будет отображаться -->

    <ul class="nav-bar__meetups" *ngIf="authService.user">
      <!-- <li *ngFor="let item of list" (click)="onSelectItem(item)" [class.active]="item == activeItem">{{ item }}</li> -->
      <li>
        <a
          class="nav-bar__meetups-a"
          routerLink="./allMeetups"
          routerLinkActive="router-active"
          >Все митапы</a
        >
      </li>
      <li>
        <a
          class="nav-bar__meetups-a"
          routerLink="./myMeetups"
          routerLinkActive="router-active"
          >Мои митапы</a
        >
      </li>
      <li *ngIf="authService.isAdmin">
        <a
          class="nav-bar__meetups-a"
          routerLink="./users"
          routerLinkActive="router-active"
          >Пользователи</a
        >
      </li>
    </ul>

    <div class="nav-bar__right-block">
      <a
        (click)="logout()"
        *ngIf="authService.user"
        style="cursor: pointer"
        ><img
          src="../../../../../assets/images/logout.png"
          alt="logo"
          width="48px"
          height="48px"
        />
      </a>
      <a *ngIf="authService.user" style="margin-left: 23px"
        ><img
          src="../../../../../assets/images/engine.png"
          alt="logo"
          width="48px"
          height="48px"
        />
      </a>
    </div>
  </nav>
</div>
