.header {
  background: #2c2c2c;
  border-bottom: 1px solid #b4b4c0;
  box-shadow: 0px 4px 4px rgba(62, 5, 4, 0.25);
  width: 100%;
  padding: 25px 40px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nav-bar__block {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar__block-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-bar__meetups {
  display: flex;
  flex-direction: row;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

ul li:nth-child(2) {
  padding: 0 20px;
}

.nav-bar__meetups-a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #e9e9e9;
}

.router-active {
  border-bottom: 5px solid #B85526;
}

.nav-bar__right-block{
  display: flex;
  flex-direction: row;
}