.card {
  padding: 25px 40px 10px 40px;
}

.card:first-child {
  padding-top: 140px;
}

.card:nth-last-child(2) {
  padding-bottom: 100px;
}

.card-panel {
  background: #2c2c2c;
  border: 0.3px solid #b4b4c0;
  padding: 15px 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header__block-column {
  display: flex;
  flex-direction: column;
}

.header__name,
.header__time {
  font-family: "Nerko One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #e9e9e9;
}

.styled-h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #e9e9e9;
}

.wrapper {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #b4b4c0;
}

.wrapper__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #b4b4c0;
}

.wrapper__buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper__buttons-block-start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #e9e9e9;
}

.wrapper__buttons-block-start-creator {
  padding-right: 20px;
}

.wrapper__buttons-block-styled {
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
  cursor: pointer;
}

.wrapper__buttons-block-styled:first-child {
  margin-right: 10px;
}

.footer {
  height: 80px;
  // margin-top: -80px;
  padding: 18px 40px 15px 40px;


  background: #2c2c2c;
  border-top: 1px solid #b4b4c0;
  box-shadow: 0px 4px 4px rgb(62 5 4 / 25%);
  width: 100%;

  // position: fixed;
  // bottom: 0px;
}

.footer__button-btn {
  float: right;
  width: 165px;
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
  cursor: pointer;
}
