// * {
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     outline: none;
//     // font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
//     box-sizing: border-box;
//   }

// body {
//     color: white;
//     background-color: #1E1E1E;
//     font-family: Arial, Helvetica, sans-serif;
//     padding: 0px;
//     margin: 0px;
//   }

// html {
//     background-color: #1E1E1E;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
html {
  height: 100%;
  background-color: #1e1e1e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #1e1e1e;
  height: 100%;
}
