<main class="wrapper-myMeetups">
    <div>
        calss
    </div>
    <div>
        calss
    </div>
    <div>
        calss
    </div>
    <div>
        calss
        calss
        calss
        calss
        calss
        calss
        calss
        calss
        calss
        calss
        calss
        calss
        calss
        calss

        calssv
        calss
        calss

        v
        v
        calss
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        

        calss
        calss
    </div>
    <div>
        calss
    </div>
    <div>
        calss
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
    <div>
        calss
    </div>
    <div>
        calss
    </div>
    <div>
        calss
    </div>

</main>

<footer class="footer">
  <button class="footer__button-btn">
    <img
      class="footer__button"
      src="../../../../../assets/images/create-meetup.png"
    />
  </button>
</footer>
